%h3.text-center.my-3 Subjects:
%ul.list-group.list-group-horizontal
  - Subject.all.each do |c|
    %li.list-group-item.list-group-item-primary.d-flex.justify-content-between.align-items-center
      = link_to c.name, subject_path(c), :class => "text-secondary"
      %span.badge.badge-primary.badge-pill.ml-3= c.books.count

%h3.my-2 Books: 
=search_form_for @q do |f|
  .form-group.row
    .col
      =f.search_field :title_cont, :class => "form-control"
    .col
      =f.submit :class => "btn btn-primary btn-sm"
- if @books.empty?
  %h5.text-center.mt-4 There are not any books to display.

%ul.list-group
  - @books.each do |c|
    %li.list-group-item.d-flex.text-center
      %strong.mr-auto.p-2= link_to c.title, book_path(c)
      = link_to 'Edit', edit_book_path(c), :class => "btn btn-primary btn-sm text-light mx-2"
      = link_to 'Delete', book_path(c), method: :delete, data: {confirm: "Are you sure?" }, :class => "btn btn-primary btn-sm text-light mx-2"