%h1= @book.title
%p
  %strong Price:
  -if @book.price
    $#{@book.price}
  -else
    = "\"Priceless\""
  %br/
  %strong Subject:
  -if @book.subject
    = link_to @book.subject.name, subject_path(@book.subject)
  -else
    = "No Subject"
  %br/
  %strong Created Date:
  = @book.created_at
  %br/
%p= @book.description
%hr/
= link_to 'Back', books_path
= link_to 'Edit', edit_book_path(@book)
= link_to 'Delete', book_path(@book), method: :delete, data: {confirm: "Are you sure?"}
