%h1= @book.title
%p
  %strong Price:
  $#{@book.price}
  %br/
  -if @book.subject
    %strong Subject:
    = link_to @book.subject.name, subject_path(@book.subject)
    %br/
  %strong Created Date:
  = @book.created_at
  %br/
%p= @book.description
%hr/
= link_to 'Back', books_path
