.row
  .col.mt-4
    =search_form_for @q do |f|
      .form-group
        =f.label :subject_search
        \:
        =f.search_field :name_cont
        =f.submit
  .col
    =link_to "Create new subject", new_subject_path, :class => "btn btn-primary my-4 text-center text-light text-right"
.row
  - @subjects.each do |subject|
    .col-4
      .mb-3.card.card-body.border.border-primary
        .card-title
          %strong= link_to subject.name, subject_path(subject)
        %ul.list-group.text-secondary
          - subject.books.each do |book|
            %li.list-group-item
              = link_to book.title, book_path(book)
              %strong.ml-2= link_to 'Edit', edit_book_path(book)
              %strong.ml-2= link_to 'Delete', book_path(book, path: "subject_index"), method: :delete, data: {confirm: "Are you sure?" }
.row
  .col
    = link_to 'Back', books_path, :class => "btn btn-primary btn-sm text-light mr-3"