.row.mt-2.mb-3
  .col-3
  .col-6.text-center    
    %h1.my-3.text-center
      = @subject.name
  .col-3.text-center.mt-4
    = link_to 'Edit', edit_subject_path(@subject), :class => "btn btn-primary btn-sm text-light mx-2"
    = link_to 'Delete', subject_path(@subject), method: :delete, data: {confirm: "Are you sure?" }, :class => "btn btn-primary btn-sm text-light mx-2"
%ul.list-group
  - @subject.books.each do |c|
    %li.list-group-item.d-flex
      %strong.p-2.flex-grow-1= link_to c.title, book_path(c)
      = link_to 'Edit', edit_book_path(c), :class => "btn btn-primary btn-sm text-light mx-2"
      = link_to 'Delete', book_path(c, subject_id: @subject.id), method: :delete, data: {confirm: "Are you sure?" }, :class => "btn btn-primary btn-sm text-light mx-2"
.row.text-center
  .col-1
    = link_to 'Back', books_path, :class => "btn btn-primary btn-sm text-light mt-3"
  .col-9
  .col-2
    = link_to "Add New Book", new_book_path(subject_id: @subject.id), :class => "btn btn-primary btn-sm text-light mt-3"