!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
    = csp_meta_tag
  %body
    .container
      %nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.text-white
        .navbar-brand 
          = link_to "Library Info System", root_path, :class => "navbar text-light"

        #navbarSupportedContent.collapse.navbar-collapse
          %ul.navbar-nav.ml-auto
            %li.nav-item.dropdown
              %a#navbarDropdown.nav-link.dropdown-toggle.text-light{"data-toggle" => "dropdown", :href => "#"} Catalog
              .dropdown-menu
                .dropdown-item 
                  =link_to "All books", books_path
                .dropdown-item
                  =link_to "Subject view", subjects_path
                .dropdown-item
                  =link_to "Admin page", trestle_path
            %li.nav-item.dropdown
              %a#navbarDropdown.nav-link.dropdown-toggle.text-light{"data-toggle" => "dropdown", :href => "#"} Libraries
              .dropdown-menu
                -Library.all.each do |c|
                  .dropdown-item
                    =link_to c.name, library_path(c)
            %li.nav-item.dropdown
              %a#navbarDropdown.nav-link.dropdown-toggle.text-light{"data-toggle" => "dropdown", :href => "#"} Publishers
              .dropdown-menu
                -Publisher.all.each do |c|
                  .dropdown-item
                    =link_to c.name, publisher_path(c)
            %li.nav-item
              = link_to "Logout", destroy_user_session_path, method: :delete, :class => "navbar text-light"
            %li.nav-item
              = link_to "Account", edit_user_registration_path, :class => "navbar text-light"
      .text-danger.text-center
        - flash.each do |name, msg|
          %strong= content_tag :div, msg, class: name

      = yield